<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <div class="card" style="width: 18rem;">
        @foreach(var quote in ViewBag.Quotes)
        {
            DateTime date = Convert.ToDateTime(quote["created_at"]);
        <div class="card-header">
                "@quote["quote"]"
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                -@quote["name"] at @date.ToString("h:mm tt MMMM dd yyyy")
            </li>
        </ul>
        <br>
        }
    </div>
</body>
</html>